.HotTopic{
    margin-top:0.2rem;
    height:2.52rem;
    background-color: white;
    margin-bottom:0.15rem;
    .title{
        display: block;
        height:0.97rem;
        font-size:0.4rem;
        padding:0.2rem;
    }
}