.all{
    display: flex;
    padding:0 .3rem;
    margin:.4rem 0;
    .left{
        width: 2.35rem;
        height: 2.35rem;
        img{
            width: 100%;
        }
    }
    .right{
        padding:0 .3rem;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-size: 14px;
            color: #333;
            font-weight: 400;
            max-height: 0.84rem;
            overflow: hidden;
            word-break: break-all;
            line-height: .42rem
        }
        .txt{
            font-size: .25rem;
            color: #666;
        }
        .price{
            display: flex;
            justify-content: space-between;
            strong{
                display: flex;
                
            }
            .red{
                i{
                    color: red;
                }
            }
            
        }
    }
}